<footer class="py-2 text-center container-fluid">
    <p>Copyright <a class="text-warning" href="http://www.optimhum.net/" target=_blank>Optim'hum</a>
     par <a class="text-warning" href="https://buldomas-lsinformatique.netlify.app/" target=_blank>Laurent Soubigou</a> Juillet 2020</p>
</footer>