{% extends 'base.html.twig' %}

{% block title %}Optim'hum Evaluation{% endblock %}

{# Commentaires #}
{% block body %}
<div class="container-fluid">
        <div class="logo">
            <img src="Images/LOGO_OPTIMHUM_HD_base.gif" alt="Logo Optim'hum">
        </div>
</div>
<div class="container-fluid ">
        <h1 class="text-center">Bonjour</h1>
        <h4 class="text-center">Vous êtes sur notre site d'évaluation des formations</h4>
</div>
<div class="row text-center mt-4">
    <div class="col-md-6 text-center">
        <a href="#">Répondre à mon questionnaire</a>
    </div>
    <div class="col-md-6 text-center color">
        <a href="#">Accèder à l'administration</a>
    </div>
</div>
{% endblock %}
